@page "/users"

@if (loading)
{
    <Loading />
}
else
{
    <MudTable Items="@users"
              @ref="table"
              ServerData="LoadListAsync"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="me-4"> @Localizer["Users"]</MudText>
            </div>
            <MudSpacer />
            <FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>@Localizer["Image"]</MudTh>
            <MudTh>@Localizer["User"]</MudTh>
            <MudTh>@Localizer["PhoneNumber"]</MudTh>
            <MudTh>@Localizer["Email"]</MudTh>
            <MudTh>@Localizer["Confirmed"]</MudTh>
            <MudTh>@Localizer["UserType"]</MudTh>
            <MudTh Class="text-center">@Localizer["Actions"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <MudImage Src="@context.PhotoFull" Width="70" Height="70" Style="border-radius: 50%;" />
            </MudTd>
            <MudTd>@context.FullName</MudTd>
            <MudTd>@context.PhoneNumber</MudTd>
            <MudTd>@context.Email</MudTd>
            <MudTd>
                @if(context.EmailConfirmed==true )
                    {
                        @Localizer["Yes"]
                    }
                    else
                    {
                        @Localizer["No"]  
                    }
            </MudTd>
            <MudTd>@context.UserType.GetDisplayName()</MudTd>
            <MudTd Class="text-center">
                <MudTooltip Text="@Localizer["Edit"]">


                    <MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit" OnClick="@(() => ShowModalAsync(@context.Id, true))" Color="Color.Warning" />

@* 
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Warning"
                               OnClick="@(() => ShowModalAsync(context.Id, true))">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    </MudButton> *@
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>@Localizer["NoRecords"]</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager RowsPerPageString=@Localizer["RecordsNumber"]
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText=@Localizer["All"]
                           InfoFormat="@infoFormat" />
        </PagerContent>
    </MudTable>
}

