<div class="mb-3">
    <label class="form-label">@Label</label>

    <div class="input-group">
        <input class="form-control"
               placeholder="@Localizer["SelectFile"]"
               readonly="readonly"
               value="@fileName" />
        <label class="input-group-btn">
            <span class="btn btn-primary">
                @Localizer["Search"]
                <InputFile OnChange="OnChange"
                           class="d-none"
                           accept=".jpg, .jpeg, .png" />
            </span>
        </label>
    </div>
    <small class="form-control-plaintext text-white">@Localizer["MaxFileSize"] (512kb)</small>
</div>
<div>
    @if (!string.IsNullOrEmpty(_localImageData))
    {
        <div>
            <div style="margin: 10px">
                <img src="@_localImageData" style="height:100px; max-width:50%;border-radius:7%" />
            </div>
        </div>
    }
    else if (!string.IsNullOrEmpty(ImageUrl))
    {
        <div>
            <div style="margin: 10px">
                <img src="@ImageUrl" style="height:100px; max-width:50%;border-radius:7%" />
            </div>
        </div>
    }
</div>